{"name":"APK Builder","slug":"appapk","version":"2.0.0","owner":"maikons-individual","orientation":"portrait","backgroundColor":"#0f172a","android":{"package":"com.iara.apkbuilder","versionCode":1,"adaptiveIcon":{"backgroundColor":"#0f172a"}},"plugins":["./plugins/withCopyWww"],"extra":{"eas":{"projectId":"749b59c7-e313-4419-9e11-1d5bf51ce364"}},"splash":{"backgroundColor":"#0f172a","resizeMode":"contain"},"sdkVersion":"51.0.0","platforms":["ios","android"]}